*~
/.idea/
/cmake-build-debug/
Makefile
welle-io
*.o
moc*cpp
.qmake.stash
CMakeCache.txt
CMakeFiles/
moc_predefs.h
qrc_resources.cpp
welle.io.pro.user
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt
