{
  "package": {
    "name": "welle.io_nightly", // Bintray package name
    "repo": "welle.io",         // Bintray repository name
    "subject": "albrechtl"      // Bintray subject (user or organization)
  },
  "version": {
    "name": "${VERSION}"
  },
  "files": [
    {"includePattern": ".(.*welle-io.*.(AppImage|dmg))", "uploadPattern": "$1"},
    {"includePattern": ".(.*welle-io-cli.*.AppImage)", "uploadPattern": "$1"}
  ],
  "publish": true
}

