language: none
compiler: gcc
sudo: require
dist: trusty

before_install:
    - sudo add-apt-repository ppa:beineri/opt-qt58-trusty -y
    - sudo apt-get update -qq
    
install: 
    - sudo apt-get -y install libusb-1.0-0-dev pkg-config qt58base qt58declarative qt58charts-no-lgpl qt58multimedia libfaad-dev libfftw3-dev librtlsdr-dev libusb-1.0-0-dev mesa-common-dev libglu1-mesa-dev libpulse-dev
    - source /opt/qt58/bin/qt58-env.sh

script:
  - # https://github.com/airspy/airspyone_host#how-to-build-the-host-software-on-linux
  - wget https://github.com/airspy/host/archive/master.zip
  - unzip master.zip
  - cd airspyone_host-master/
  - mkdir build
  - cd build
  - cmake ../ -DINSTALL_UDEV_RULES=ON -DCMAKE_INSTALL_PREFIX=/usr
  - make
  - sudo make install
  - sudo ldconfig
  - cd ../..
  - mkdir build
  - cd build
  - qmake PREFIX=/usr ..
  - make -j4
  - # sudo make INSTALL_ROOT=appdir install ; sudo chown -R $USER appdir ; find appdir/ # "make install" seems not implemented
  - cd ..
  - find build/
  - mkdir -p ./appdir/usr/share/applications
  - cp welle-io.desktop ./appdir/usr/share/applications
  - mkdir -p ./appdir/usr/bin
  - cp build/welle-io ./appdir/usr/bin
  - mkdir -p ./appdir/usr/lib
  - mkdir -p ./appdir/usr/share/icons/hicolor/512x512/apps/
  - cp icon.png appdir/usr/share/icons/hicolor/512x512/apps/welle-io.png
  
after_success:
  - wget -c "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage" 
  - chmod a+x linuxdeployqt*.AppImage
  - unset QTDIR; unset QT_PLUGIN_PATH ; unset LD_LIBRARY_PATH
  - ./linuxdeployqt*.AppImage ./appdir/usr/share/applications/*.desktop -bundle-non-qt-libs
  - ./linuxdeployqt*.AppImage ./appdir/usr/share/applications/*.desktop -appimage
  - find ./appdir -executable -type f -exec ldd {} \; | grep " => /usr" | cut -d " " -f 2-3 | sort | uniq
  - curl --upload-file ./WelleIO*.AppImage https://transfer.sh/WelleIO-git.$(git rev-parse --short HEAD)-x86_64.AppImage
